.border{
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 18%;
}

.head{
  margin: 0px;
  margin-bottom: 18px;
}

.email{
  margin-bottom: 18px;
}